%p
  %br/
.container
  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#daftar", :role => "tab"} Mis exámenes
    %li
      %a{"data-toggle" => "tab", :href => "#tambah", :role => "tab"} Otros exámenes
  / Tab panes
  .tab-content
    #daftar.tab-pane.active
      %br/
      %p
        %a{:href => "./examenes/new"}
          %button.btn.btn-primary{:type => "button"}
            %span.glyphicon.glyphicon-plus
            Crear examen
      %br/
      .table-responsive.tabla-preguntas#mytable
        %table.table.table-hover
          %thead
            %tr
              %th ID
              %th Examen
              %th Creación
              %th Apertura
              %th Cierre
              %th Usuario
              %th Previsualizar
              %th Editar
              %th Eliminar
          %tbody
            - @examenes.each do |examen|
              %tr
                %form.form-horizontal{:action => "/examenes", :method => "POST", :name => "form-delete-exam", :role => "form"}
                  %td= examen[:idExamen]
                  %td= examen[:titulo]
                  %td= examen[:fecha_creacion].strftime("%c")
                  %td= examen[:fecha_apertura].strftime("%c")
                  %td= examen[:fecha_cierre].strftime("%c")
                  %td= session[:username]
                  %td.opciones
                    %a{:href => "/examen/#{examen[:idExamen]}", :id => "ver"}
                      %span.glyphicon.glyphicon-search
                  %td.opciones
                    %a{:href => ""}
                      %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Ver"}
                        %span.glyphicon.glyphicon-pencil
                  %td.opciones
                    %a{:href => "", :id => "eliminar#{examen[:idExamen]}", :data => examen[:idExamen]}
                      %button.btn.btn-danger.btn-xs{:type => "submit"}
                        %span.glyphicon.glyphicon-trash

                    %input.form-control{:name => "examen", :type => "text", :style => "display:none;", :value => examen[:idExamen]}
                  

      %ul.pagination
        %li.disabled
          %a{:href => "#"} &laquo;
        %li.active
          %a{:href => "#"} 1
        %li
          %a{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
        %li
          %a{:href => "#"} 5
        %li
          %a{:href => "#"} &raquo;
    #tambah.tab-pane
      %br/
      .alert.alert-success{:role => "alert"}
        Berhasil
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
      .alert.alert-warning{:role => "alert"}
        Ada sedikit masalah
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
      .alert.alert-danger{:role => "alert"}
        Error, coba lagi
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close