:javascript
  $(document).ready(function(){
    
    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      //modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body p').text('¿Quiere realmente eliminar el examen ' + recipient + '?')

      modal.find(botonEliminar).data('id', recipient);
      //alert(modal.find(botonEliminar).data( 'id' ) );

    })

    $('#botonEliminar').on('click', function(event) {
      //alert($(this).data('id'));
      datos = $(this).data('id');

      // Llamar a AJAX para que lance un POST y borre el registro
      $.ajax({
        url: "/eliminaExamen",
        method: "post",
        data: { ids: datos}
        //data: { ids: datos, titulo, fecha_apertura, fecha_cierre}
      }).done(function() {
        $('#myModal').modal('hide');
        //redirigir a donde quiera
        //$("#formulario2-grupos").submit();
        window.location.href = "/examenes";
      })

    });

    $('#myModalView').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('id') // Extract info from data-* attributes
      var titulo = button.data('titulo');
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)

      //modal.find('.modal-body p').text('Visualización del examen ' + recipient + '?')
      modal.find(".modal-title").text(titulo);
      modal.find(".modal-body *").empty();
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, 'cuerpoExamenModal']);


      $.ajax({
        url: "/damePreguntasExamen",
        method: "post",
        data: { ids: recipient }
        //data: { ids: datos, titulo, fecha_apertura, fecha_cierre}
      }).done(function(datosdevueltos) {
        MathJax.Hub.Queue(["Typeset",MathJax.Hub, 'preguntaModal']);

        var json = jQuery.parseJSON(datosdevueltos)
        //console.log(json);
        var preguntas = '';
        var contador = 1;
        $.each(json, function(arrayID,group) {
          //console.log(group.idRespuesta);
          preguntas = preguntas + '<p class="preguntaModal"> ' + contador + '. ' + group.titulo + '</p>';
          switch(group.tipo) {
            case 'corta':
                preguntas = preguntas + '<p class="respuestaModal">' + group.texto + '</p>';
                break;
            case 'vf':
                preguntas = preguntas + '<p class="respuestaModal">' + (group.correcto ? "Verdadero" : "Falso") + '</p>';
                break;
            default:
                
          }
          preguntas = preguntas + '<hr>';
          contador++;
          
        });
        //modal.find(".contenidoExamen").text(preguntas);
        modal.find(".contenidoExamen").append(preguntas);

      })

    })


  });

.container
  .page-header.list-page
    %h2 Exámenes

  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#daftar", :role => "tab"}
        Mis exámenes
        %span.badge=@examenes.count
      
    %li
      %a{"data-toggle" => "tab", :href => "#tambah", :role => "tab"} Otros exámenes
  / Tab panes
  .tab-content
    #daftar.tab-pane.active
      %br/
      %p
        %a{:href => "./examenes/new"}
          %button.btn.btn-primary{:type => "button"}
            %span.glyphicon.glyphicon-plus
            Crear examen
      %br/
      .table-responsive.tabla-preguntas#mytable
        %table.table.table-hover
          %thead
            %tr
              %th ID
              %th Examen
              %th Creación
              %th Apertura
              %th Cierre
              %th Usuario
              %th Opciones
          %tbody
            - @examenes.each do |examen|
              %tr
                %form.form-horizontal{:action => "/examenes", :method => "POST", :name => "form-delete-exam", :role => "form"}
                  %td= examen[:idExamen]
                  %td= examen[:titulo]
                  %td= examen[:fecha_creacion].strftime("%A, %d de %B de %Y, %H:%M")
                  %td= examen[:fecha_apertura].strftime("%A, %d de %B de %Y, %H:%M")
                  %td= examen[:fecha_cierre].strftime("%A, %d de %B de %Y, %H:%M")
                  %td= session[:username]
                  %td.opciones
                    .btn-group.btn-group{"aria-label" => "Opciones", :role => "group"}
                      
                      %a.btn.btn-success{:href => "", :id => "ver#{examen[:idExamen]}", "data-target" => "#myModalView", "data-toggle" => "modal", "data-id" => examen[:idExamen], "data-titulo" => examen[:titulo]}
                        %span.glyphicon.glyphicon-search
            
                      %a.btn.btn-info.btn{:href => "/examen/#{examen[:idExamen]}", :id => "editar"}
                        %span.glyphicon.glyphicon-pencil
           
                      %a.btn.btn-danger{:href => "", :id => "eliminar#{examen[:idExamen]}", :data => examen[:idExamen], "data-target" => "#myModal", "data-toggle" => "modal", "data-whatever" => examen[:idExamen]}
                        %span.glyphicon.glyphicon-trash
                      
                      / Modal
                      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog
                          .modal-content
                            .modal-header
                              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                %span{"aria-hidden" => "true"} &times;
                              %h4#myModalLabel.modal-title Eliminar examen
                            .modal-body
                              %p
                                / ¿Quiere realmente eliminar el examen
                                / %strong=examen[:titulo]
                                / ?
                            .modal-footer
                              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar
                              %button.btn.btn-danger{:type => "button", :id => "botonEliminar", :data => "UNO"} Eliminar

                      / Modal
                      #myModalView.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog
                          .modal-content
                            .modal-header
                              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                %span{"aria-hidden" => "true"} &times;
                              /%h4#myModalLabel.modal-title Visualizar pregunta
                              /%h4#myModalLabel.modal-title= examen[:titulo]
                              %h4#myModalLabel.modal-title{:id => 'tituloExamenModal'}
                              %label= examen[:fecha_apertura]
                            .modal-body
                              /%p{:class => "tituloPregunta"}
                              .contenidoExamen{:id => 'cuerpoExamenModal'}
                                /%p{:class => "preguntaModal"} Pregunta 1
                                /%p{:class => "respuestaModal"} Respuesta 1
                                /%p{:class => "fechaPregunta"}
                                / ¿Quiere realmente eliminar el examen
                                / %strong=examen[:titulo]
                                / ?
                            .modal-footer
                              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar





                    %input.form-control{:name => "examen", :type => "text", :style => "display:none;", :value => examen[:idExamen]}


      %ul.pagination
        %li.disabled
          %a{:href => "#"} &laquo;
        %li.active
          %a{:href => "#"} 1
        %li
          %a{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
        %li
          %a{:href => "#"} 5
        %li
          %a{:href => "#"} &raquo;
    #tambah.tab-pane
      %br/
      .alert.alert-success{:role => "alert"}
        Berhasil
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
      .alert.alert-warning{:role => "alert"}
        Ada sedikit masalah
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
      .alert.alert-danger{:role => "alert"}
        Error, coba lagi
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close