.panel.panel-success
  .panel-heading
    %h3.panel-title TODOS LOS USUARIOS
  .panel-body
    .row
    /%p= @usuarios.all
    /%p= @usuarios[:idUsuario => 1]
    - @usuarios.each do |usuario|
      .col-xs-3
        %a.thumbnail{:href => ""}
          %img.img-responsive{:src => "#{}"}
          %p= usuario
          %p Añadida el
          
.panel.panel-success
  .panel-heading
    %h3.panel-title OTROS
  .panel-body
    .row
    /- @populares_rutas.each do |ruta_pop|
    /  .col-xs-3
    /    %a.thumbnail{:href => "ruta/#{ruta_pop.id}"}
    /      %img.img-responsive{:src => "#{ruta_pop.imagen}"}
    /      %p= ruta_pop.nombre
    /      %p Putuación: #{ruta_pop.puntuacion}
  