.container
  .page-header.list-page
    %h2 Inicio

  .row
    .col-md-6
      .lista-resumen
        .list-group
          %a.list-group-item{:href => "/preguntas"}
            %span.glyphicon.glyphicon-pencil
            Preguntas
            %span.badge
              = @preguntas
          %a.list-group-item{:href => "/examenes"}
            %span.glyphicon.glyphicon-check
            Exámenes
            %span.badge
              = @examenes
          %a.list-group-item{:href => "/grupos"}
            %span.glyphicon.glyphicon-user
            Grupos
            %span.badge
              = @grupos
          %a.list-group-item{:href => "/examenes"}
            %span.glyphicon.glyphicon-flag
            Realizar examen
            %span.badge
              = @examen_realizar


  / .row
  /   .panel.panel-success
  /     .panel-heading
  /       %h3.panel-title TODOS LOS USUARIOS
  /     .panel-body
  /       .row
  /       /%p= @usuarios.all
  /       /%p= @usuarios[:idUsuario => 1]
  /       - @usuarios.each do |usuario|
  /         .col-xs-3
  /           %a.thumbnail{:href => ""}
  /             %img.img-responsive{:src => "#{}"}
  /             %p= usuario
  /             %p Añadida el