:javascript
  $(document).ready(function(){
    
    /* Modal de eliminación de preguntas */
    $('#myModal.modal').on('show.bs.modal', function (event) {
      
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      //modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body p').text('¿Quiere realmente eliminar la pregunta ' + recipient + '?')

      modal.find(botonEliminar).data('id', recipient);
      //alert(modal.find(botonEliminar).data( 'id' ) );

    })

    $('button.btn.btn-danger').on('click', function(event) {
    //$('#botonEliminar').on('click', function(event) {
      alert($(this).data('id'));
      datos = $(this).data('id');

      // Llamar a AJAX para que lance un POST y borre el registro
      $.ajax({
        url: "/eliminaPregunta",
        method: "post",
        data: { ids: datos}
        //data: { ids: datos, titulo, fecha_apertura, fecha_cierre}
      }).done(function() {
        $('#myModal').modal('hide');
        //redirigir a donde quiera
        //$("#formulario2-grupos").submit();
        window.location.href = "/preguntas";
      })

    });

    /* Modal de visualización de preguntas */
    $("#myModalView.modal").on('show.bs.modal', function (event) {
      
      var button = $(event.relatedTarget); // Button that triggered the modal
      var recipient = button.data('whatever'); // Extract info from data-* attributes
      var titulo = button.data('titulo');
      var fecha = button.data('fecha');

      //alert(button.data('titulo'));

      var modal = $(this);

      var holita = $(this).find(".modal-title");

      $(this).find(".modal-title").text(titulo);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, 'tituloPreguntaModal']);
      //%h4#myModalLabel.modal-title
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.


      $.ajax({
        url: "/dameRespuesta",
        method: "post",
        data: { ids: recipient}
        //data: { ids: datos, titulo, fecha_apertura, fecha_cierre}
      }).done(function(datosdevueltos) {
        
        //modal.find('.modal-body p.tituloPregunta').text(titulo);

        var resp = $.parseJSON(datosdevueltos);
        var respuesta = '';
        switch(resp['tipo']) {
          case 'vf':
              respuesta = resp['correcto']? 'Verdadero' : 'Falso';
              break;
          case 'corta':
              respuesta = resp['texto'];
              break;
          default:            
        }
        
        modal.find('.modal-body p.respuestaPregunta').text('Respuesta: ' + respuesta);
        modal.find('.modal-body p.fechaPregunta').text('Creado en ' + fecha);
      })


    })


  });


.container
  .page-header.list-page
    %h2 Preguntas
  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#daftar", :role => "tab"}
        Mis preguntas
        %span.badge=@preguntas.count
    %li
      %a{"data-toggle" => "tab", :href => "#tambah", :role => "tab"} Otras preguntas
  / Tab panes
  .tab-content
    #daftar.tab-pane.active
      %br/
      %p
        %a{:href => "./preguntas/new"}
          %button.btn.btn-primary{:type => "button"}
            %span.glyphicon.glyphicon-plus
            Añadir pregunta
      %br

      :javascript
        $(document).ready(function() {
          $('#example').DataTable();
        });       

      %table#example.display{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th.dt-head-left ID
            %th.dt-head-left Pregunta
            %th.dt-head-left Creado
            %th.dt-head-left Usuario
            %th.dt-head-left Opciones
        / %tfoot.dt-head-left
        /   %tr
        /     %th.dt-head-left ID
        /     %th.dt-head-left Pregunta
        /     %th.dt-head-left Creado
        /     %th.dt-head-left Usuario
        /     %th.dt-head-left Opciones
        %tbody
          - @preguntas.each do |pregunta|
            %tr
              /.filaPregunta{:id => "p#{pregunta[:idPregunta]}"}
              %form.form-horizontal{:action => "/preguntas", :method => "POST", :name => "form-delete-quiz", :role => "form"}
                %td.dt-left= pregunta[:idPregunta]
                %td.dt-left= pregunta[:titulo]
                %td.dt-left= pregunta[:fecha_creacion].strftime("%A, %d de %B de %Y, %H:%M")
                /%td= pregunta[:username]
                %td.dt-left= session[:username]
                %td.opciones.dt-left
                  .btn-group.btn-group{"aria-label" => "Opciones", :role => "group"}
                    
                    %a.btn.btn-success{:href => "", :id => "botonVisualizar", "data-target" => "#myModalView", "data-toggle" => "modal", "data-whatever" => pregunta[:idPregunta], "data-titulo" => pregunta[:titulo], "data-fecha" => pregunta[:fecha_creacion]}
                      %span.glyphicon.glyphicon-search
          
                    %a.btn.btn-info.btn{:href => "/pregunta/#{pregunta[:idPregunta]}"}
                      %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "editar"}
                        %span.glyphicon.glyphicon-pencil
         
                    %a.btn.btn-danger{:href => "", :id => "eliminar#{pregunta[:idPregunta]}", :data => pregunta[:idPregunta], "data-target" => "#myModal", "data-toggle" => "modal", "data-whatever" => pregunta[:idPregunta]}
                      %span.glyphicon.glyphicon-trash

                    / Modal de eliminación
                    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                              %span{"aria-hidden" => "true"} &times;
                            %h4#myModalLabel.modal-title Eliminar pregunta
                          .modal-body
                            %p
                              / ¿Quiere realmente eliminar el examen
                              / %strong=examen[:titulo]
                              / ?
                          .modal-footer
                            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar
                            %button.btn.btn-danger{:type => "button", :id => "botonEliminar", :data => "UNO"} Eliminar
                    / Modal
                    #myModalView.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1" }
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                              %span{"aria-hidden" => "true"} &times;
                            /%h4#myModalLabel.modal-title Visualizar pregunta
                            /%h4#myModalLabel.modal-title= pregunta[:titulo]
                            %h4#myModalLabel.modal-title{:id => 'tituloPreguntaModal'}
                          .modal-body
                            /%p{:class => "tituloPregunta"}
                            %p{:class => "respuestaPregunta"}
                            %p{:class => "fechaPregunta"}
                              / ¿Quiere realmente eliminar el examen
                              / %strong=examen[:titulo]
                              / ?
                          .modal-footer
                            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar
                            //%button.btn.btn-danger{:type => "button", :id => "botonEliminar", :data => "UNO"} Eliminar

                
                  %input.form-control{:name => "pregunta", :type => "text", :style => "display:none;", :value => pregunta[:idPregunta]}










    #tambah.tab-pane
      %br/
      .alert.alert-success{:role => "alert"}
        Berhasil
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
      .alert.alert-warning{:role => "alert"}
        Ada sedikit masalah
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
      .alert.alert-danger{:role => "alert"}
        Error, coba lagi
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close